# ====== URL ======
API_BASE_URL                            = 

# ====== US Region Accounts ======
UID_PWD                                 = 

UID_ACCOUNT_ID                          = 
UID_USER_NAME                           = 

# ====== Company Info ======
ORG_OWNER_EMAIL                         = 
ORG_OWNER_ACCOUNT_ID                    = 

ORG_ADMIN_EMAIL                         = 
ORG_ADMIN_EMAIL_2                       = 

ORG_MEMBER_EMAIL                        = 
ORG_MEMBER_ACCOUNT_ID                   = 

ORG_MEMBER_EMAIL_2                      = 
ORG_MEMBER_ACCOUNT_ID_2                 = 

CERT_COMPANY_ID                         = 
CERT_COMPANY_NAME                       = 

NON_CERT_COMPANY_ID                     = 
NON_CERT_COMPANY_NAME                   = 